<!--{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1><span class="font-semi-bold">Pyramid</span> <span class="smaller">Alchemy project</span></h1>
  <p class="lead">Welcome to <span class="font-normal">foss-blog</span>, a&nbsp;Pyramid application generated&nbsp;by<br><span class="font-normal">Cookiecutter</span>.</p>
</div>
{% endblock content %}

-->

<html>
<head>
<style>
body {margin:0;}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
.container-fluid{
        background-color: #A52A2A;
}
div {
    border-radius: 5px;
        background-color: #f2f2f2;

    padding: 20px;
}
</style>
<title>FOSS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body bgcolor="Cornsilk">
<div class="container-fluid">
<p>
 <center>
  <img src="../static/foss.png" alt="FOSS">
 </center>
</div>

<div class="topnav">
  <a class="active" href="/home">Home</a>
  <a href="/login">Login</a>
  
</div>

<div style="padding-left:16px">
  <b><center><h1 style="color:blue;" >FOSS</h1></center></b>
<br>
<br>
<h2 style="color:brown;">&nbsp;Free Open Source Software</h2>
<br>
<br>
<!--
<h3>&nbsp;&nbsp;Click the following link to apply for scholarship</h3>
<br>
&nbsp;&nbsp;
<a href="student_login.php">Click Here</a>

<h1 style="color:brown;">Key Links:</h1>
<ol>
<li><a href="admin_login.php">Admin Login</a>
<li><a href="faculty_login.php">Faculty Login</a>
<ol>

  
</div>
-->
</body>
</html>







