<!DOCTYPE html>
<html>
<head>
<style> 
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
#example1 {
    background-image: url(../static/FOSSBLOG.JPEG) ;
    background-position: center;
    background-repeat: no-repeat;
    width : 500;
    height : 200;
    padding: 100px;
}
</style>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color:brown">
<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/account">My Account</a>
  <a href="/post">Post Comment</a>
  <a href="/">Logout</a>
  <h4  style="color:white; float:right; margin-right:20px" >{{ one.username }}</h4>  
</div>


<div id="example1">



</div>
<h2>Newsfeed</h2>
<fieldset>
<h2>username:${obj[0].email}</h2>

<h3>content: ${obj[0].comment}</h3>

</fieldset>
<h1>{{ one.email }}</h1>

</body>
</html>
